flows (1).json
[{"id":"9000fb19.f3c968","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d6e9bd8.583154","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d5d09625.e59c28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"837bad64.cc16c","type":"ui_group","z":"","name":"Default","tab":"d5d09625.e59c28","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b783b46.f55e24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6cf152be.6fefac","type":"ui_group","z":"","name":"Vaibhav","tab":"d5d09625.e59c28","order":2,"disp":true,"width":"6","collapse":false},{"id":"b2e9bfad.9e9a2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d5fd934f.394ae","type":"ui_group","z":"","name":"Default","tab":"b2e9bfad.9e9a2","order":1,"disp":true,"width":"6","collapse":false},{"id":"b393bf5e.dd2cb","type":"ui_group","z":"","name":"Machine Learning Model","tab":"d1cb38a4.f7dc78","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1cb38a4.f7dc78","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"b5bcfa9f.58e068","type":"function","z":"9000fb19.f3c968","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\n//following are required to receive a token\nvar apikey=\"y_e6f_g1rVLrELPIDogIe1TZzwCNjnqlANNDSzKDzwXO\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["b494dcc5.e3485"]]},{"id":"48667adc.6c6cd4","type":"http request","z":"9000fb19.f3c968","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/9a65746c-b0ae-47e9-9856-b1a8764d5bf1/deployments/c1f9f3a7-6430-4cf8-a95e-b5588ed661f0/online","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[["a6e2a42d.ed1af8","9c944984.dae168"]]},{"id":"f84d780b.36bfe8","type":"debug","z":"9000fb19.f3c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"a6e2a42d.ed1af8","type":"function","z":"9000fb19.f3c968","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["f84d780b.36bfe8","7a0eff4.f718b"]]},{"id":"9c944984.dae168","type":"debug","z":"9000fb19.f3c968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"4acb10e2.30f59","type":"function","z":"9000fb19.f3c968","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"9a65746c-b0ae-47e9-9856-b1a8764d5bf1\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\n//send the user values to service endpoint\nmsg.payload=\n{\"fields\":['Year', 'Adult Mortality', 'infant deaths',\n       'Alcohol', 'Hepatitis B', 'Measles ', ' BMI ',\n       'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', 'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["48667adc.6c6cd4"]]},{"id":"b494dcc5.e3485","type":"http request","z":"9000fb19.f3c968","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":100,"wires":[["4acb10e2.30f59"]]},{"id":"7a0eff4.f718b","type":"ui_text","z":"9000fb19.f3c968","group":"837bad64.cc16c","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"887fee77.0e89c","type":"ui_form","z":"9000fb19.f3c968","name":"","label":"","group":"837bad64.cc16c","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"Polio","value":"h","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"i","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"j","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"k","type":"number","required":true,"rows":null},{"label":"GDP","value":"l","type":"number","required":true,"rows":null},{"label":"Population","value":"m","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"n","type":"number","required":true,"rows":null},{"label":"Schooling","value":"o","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["b5bcfa9f.58e068"]]}]