flows.json
[{"id":"343e3cb4.555874","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c3dc5ec5.ce742","type":"function","z":"343e3cb4.555874","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n//following are required to receive a token\nvar apikey=\"y_e6f_g1rVLrELPIDogIe1TZzwCNjnqlANNDSzKDzwXO\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["46d24213.b71fdc"]]},{"id":"12c8cf11.8e29f1","type":"http request","z":"343e3cb4.555874","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/9a65746c-b0ae-47e9-9856-b1a8764d5bf1/deployments/9ebf6a06-52d9-4345-93dc-3ef17baedd5c/online","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":180,"wires":[["45a95a6a.306bb4","45d8d8c8.1094e8"]]},{"id":"63daa766.38e1c8","type":"debug","z":"343e3cb4.555874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"45a95a6a.306bb4","type":"function","z":"343e3cb4.555874","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["63daa766.38e1c8","6870695.3bc6998"]]},{"id":"45d8d8c8.1094e8","type":"debug","z":"343e3cb4.555874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"a744415.0118dc","type":"function","z":"343e3cb4.555874","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"9a65746c-b0ae-47e9-9856-b1a8764d5bf1\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n//send the user values to service endpoint\nmsg.payload=\n{\"fields\":['Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["12c8cf11.8e29f1"]]},{"id":"46d24213.b71fdc","type":"http request","z":"343e3cb4.555874","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":100,"wires":[["a744415.0118dc"]]},{"id":"6870695.3bc6998","type":"ui_text","z":"343e3cb4.555874","group":"b393bf5e.dd2cb","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"28fa70d2.352e8","type":"ui_form","z":"343e3cb4.555874","name":"","label":"","group":"b393bf5e.dd2cb","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"text","required":false,"rows":null},{"label":"thinness  1-19 years","value":"q","type":"text","required":false,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"text","required":false,"rows":null},{"label":"Income composition of resources","value":"s","type":"text","required":false,"rows":null},{"label":"Schooling","value":"t","type":"text","required":false,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["c3dc5ec5.ce742"]]},{"id":"b393bf5e.dd2cb","type":"ui_group","z":"","name":"Machine Learning Model","tab":"d1cb38a4.f7dc78","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1cb38a4.f7dc78","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]